

.MuiFormControl-root
{
  background-color: white;


}

.title{
  color:white;
}

.MuiFormControl-root label:focus
{
  background-color: white;
}

.plain
{
  align-self: center;
  padding-top: 1.5vh;
  font-size: 0.8rem;
  color: white;
}

.subtitle
{
  padding-top: 0.2%;
  color:brown;
  align-self: center;
  font-size: 0.7rem; 
}