

.MuiFormControl-root
{
  background-color: white;


}

.textField
{
  width: 80vw;
  border-radius: 13px;
  margin-bottom: 30vh;
  border: 20;
  border-color: black;
  
}

.BrownBotton
{ 
  background-color: #952B3A;
  width:80%;
  height:5%;
  margin:auto;
  border-radius: 20px;
  display:block;
  align-content: center;

}

.title{
  color:white;
}

.MuiFormControl-root label:focus
{
  background-color: white;
}

.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused
{
  color:#952B3A !important;
}

.plain
{
  align-self: center;
  margin-top: 1.9vh;
  font-size: 1.3rem;
  color: whitesmoke;
  font-weight: normal;
}

.subtitle
{
  padding-top: 0.5%;
  color:brown;
  align-self: center;
  display: block;
  font-size: 0.7rem; 
}